*{
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    background: linear-gradient(to bottom,rgb(52, 52, 52),rgb(96, 96, 96));
    font-family: monospace;
  }
  nav{
    background: rgb(29, 29, 29);
    height: 80px;
    width: 100%;
  }

  label.logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 0 50px;
    line-height: 80px;
  }
  nav lb{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }

  nav lb li{
    display: inline-block;
    line-height: 40px;
    margin: 0 7px;
  }

  nav lb li a{
    font-size:  20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    transition: 0.3s;
    color: black;
  }

  a.active:hover{
    transition: 0.5s;
    background: rgb(52, 52, 52);
    color: white;
  }
  
  @media(max-width: 858px){
    a.active:hover{
      background: none;
      color: rgb(52, 52, 52);
    }
  }

.checkbtn{
  font-size: 30px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media(max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media(max-width: 858px){
  .checkbtn{
    display: block;
  }
  lb{
    position: fixed;
    width: 100%;
    height: 200vh;
    background: rgb(143, 142, 142);
    top: 60px;
    left: -105%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  } 
  nav lb li{
    display: block;
    margin: 50px 0;
    line-height: 45px;
  }
  nav lb li a{
    font-size: 20px;
  }
  #check:checked ~ lb{
    left: 0;
  }
  
}

.pic{
  margin-top: 20px;
  width: 15%;
  object-fit: cover;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border:10px solid rgb(243, 131, 131);
}

.pic2{
  width: 25%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

in{
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

inm{
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

@keyframes wave{
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(14deg);
  }
  20%{
    transform: rotate(-8deg);
  }
  30%{
    transform: rotate(14deg);
  }
  40%{
    transform: rotate(-4.0deg);
  }
  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.emoji {
  font-size: 30px;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media(max-width: 858px){
  in{
    font-size: 16px;
    margin-left: 75px;
    margin-right: 75px;
  }
  inm{
    font-size: 16px;
    margin-left: 75px;
    margin-right: 75px;
  }
  .emoji{
    font-size: 20px;
  }
  .pic{
    border:5px solid rgb(243, 131, 131);
  }
}

.container{
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.line{
  width: 100%;
  height: 35px;
  position: relative;
}
.line::after,.line::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 1px;
  background: rgb(254, 254, 254);  
  width: 46%;
  top: 47%;
}
.line::after{
  left: 0;
}
.line::before{
  right: 0;
}
.mid{
  height: 30px;
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

@media (max-width: 858px){
  .mid{
    height: 20px;
    width: 20px;
  }
  .line{
    height: 25px;
  }
  .line::after,.line::before{
    width: 45%;
    top: 47%;
  }
}
.contact{
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 60px;
  text-align: center;
  color: white;
}

@media (max-width: 858px){
  .contact{
    font-size: 60px;
    display: block;
    flex: 100%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px; 
  background-color: rgb(29, 29, 29); 
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

l{
  color: white;
  font-size: 15px;
}
@media (max-width: 858px){
  l{
    font-size: 10px;
  }
}